@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.search {
    background-color: #0f0f0f;
}

.burger-menu:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.sidebar-items li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 5px 0;
    padding: 10px 15px;
    /* background-color: gray; */
}


.sidebar-items li:hover,
.sidebar-items li:active {
    background-color: #1f1f1f;
    cursor: pointer;
    border-radius: 15px;
}


.sidebar-items p {
    padding: 0 15px;
}

.buttons {
    background-color: #1f1f1f;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.comment {
    /* background-color: #1f1f1f; */
    /* border-radius: 15px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
}

.video-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    .video-container{
        flex-direction: column;
        align-items: center;
    }
}

.livechat{
    background-color: #1f1f1f;
    border-radius: 15px;
    /* padding: 10px; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
}

.livename, .livepic{
    min-width: max-content;
}


.newchat-input{
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid white;
}