@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.search {
    background-color: #0f0f0f;
}

.burger-menu:hover{
    background-color: #1f1f1f;
    cursor: pointer;    
}

.sidebar-items li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 5px 0;
    padding: 10px 15px;
    /* background-color: gray; */
}


.sidebar-items li:hover, .sidebar-items li:active{
    background-color: #1f1f1f;
    cursor: pointer;
    border-radius: 15px;
}


.sidebar-items p {
    padding: 0 15px;
}

.buttons{
    background-color: #1f1f1f;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}